* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: beige;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /* background-color: rgb(117, 23, 105); */
  /* Flexbox */
  /*display: flex;*/
  /*gap: 20px; */

  /* Grid 
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;*/
}

.container {
  display: flex;
}
.clear {
  width: 50%;
  box-sizing: border-box;
  background-image: url("./components/img/clear sky.jpg");
}

.overcast {
  /*  min-height: 100vh;
   width: 100%;  */

  width: 50%;
  box-sizing: border-box;
  background-image: url("./components/img/overcast.jpeg");
}
.rain {
  /*  min-height: 100vh;
   width: 100%;  */
  width: 50%;

  box-sizing: border-box;
  background-image: url("./components/img/rain.jpg");
}
.fog {
  /*  min-height: 100vh;
   width: 100%;  */
  width: 50%;

  box-sizing: border-box;
  background-image: url("./components/img/fog.jpg");
}
.snow {
  /*  min-height: 100vh;
   width: 100%;  */
  width: 50%;

  box-sizing: border-box;
  background-image: url("./components/img/snow.jpg");
}
.storm {
  /*  min-height: 100vh;
   width: 100%;  */
  width: 50%;

  box-sizing: border-box;
  background-image: url("./components/img/storm.jpeg");
}

/* .high{
margin-bottom: 1%;
margin-left: 29%;
} */
.meteorology {
  display: flex;

  height: 45%;
  width: 100%;
  margin-top: 2%;
}
.traffic {
  min-height: 100vh;

  width: 50%;
  box-sizing: border-box;
}

.temps {
  width: 100%; /* El div ocupará el 100% del ancho del contenedor padre */
  /*max-width: 500px;  Establece un ancho máximo */
  height: auto; /* Permite que la altura se ajuste automáticamente según el contenido */

  display: flex;
  align-items: center;
}
.graph {
  display: block;
}

h3 {
  font-size: small;
  color: rgb(24, 24, 12);
  text-shadow: -2px -2px 3px white;
}

p {
  color: rgb(43, 43, 75);
  text-align: center;
}

.leaflet-container {
  width: 100wh;
  height: 100vh;
}
.selector {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 100%;
  height: 50%;
  padding: 1%;
  width: 40%;
  margin-left: 4%;
  color: rgb(24, 24, 12);
  text-shadow: -2px -2px 3px white;
}

.selectLine {
  background: transparent;
  border: none;
  font-size: 100%;
}

.temperature {
  width: 100wh;
  height: 100vh;
}
